{{ define "main" }}

<!-- scholarship -->
<section class="section">
  <div class="container">
    <div class="row mb-5">

      <div class="col-md-7 content">
        {{ .Content }}
      </div>

      <div class="col-md-4 mb-4 mb-md-1">
        <img class="img-fluid" src="{{ .Params.image | relURL }}" alt="Bild">
      </div>
      
     
    
    
    
    </div>
    <div class="row">
      <!-- picture gallery -->
      {{ range .Data.Pages }}
      <div class="col-lg-4 col-sm-6 mb-4" >
        {{ .Render "gallery" }}
      </div>
      {{ end }}
    </div>
  </div> 
</section>
<!-- /picture gallery -->

{{ end }}

