{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- about -->
<section class="section">
  <div class="container">
      <div class="row mb-5">
        <div class="col-md-7 content">
          {{ .Content }}
        </div>
  
        <div class="col-md-5 mb-5 mb-md-1">
          <img class="img-fluid" src="{{ .Params.image | relURL }}" alt="Bild">
        </div>
        
     
    </div>
  {{/*  </div>  */}}
{{/*  </section> 

    <br/><br/>

<section class="section-sm bg-primary">  */}} 
  {{/*  <div class="container">  */}}
    <div class="row mb-5">
      <div class="container">
        <div class="row mb-12">
          
          <div class="col-md-4">
            <img class="img-fluid" src="{{ .Params.image1 | relURL }}" alt="Bild">
            <p style="font-weight:bold; text-align: left;" >{{.Params.title1 }}</p>
          </div>

          <div class="col-md-4">
            <img class="img-fluid" src="{{ .Params.image2 | relURL }}" alt="Bild">
            <p style="font-weight:bold;text-align: left;" >{{.Params.title2 }}</p>
          </div>
          
          <div class="col-md-4">
            <img class="img-fluid" src="{{ .Params.image3 | relURL }}" alt="Bild">
            <p style="font-weight:bold;text-align: left;" >{{.Params.title3 }}</p>
          </div>
        </div>
      </div>   

      
    </div>
    </div>

</section>  


{{ end }}